@tailwind base;
@tailwind components;
@tailwind utilities;

.header-img {
  background-image: url("../assets/landing-page/headerbg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.find-connect {
  background-image: url("../assets/landing-page/find_and_connect.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.metrics {
  background-image: url("../assets/landing-page/metricsBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .find-connect {
    background-size: contain;
    background-position: center;
  }
}

li {
  margin: 3px 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes backgroundPan {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.header-img {
  animation: backgroundPan 10s linear infinite alternate;
}

.header-content {
  animation: fadeIn 2s ease-out;
}

.header-image {
  animation: slideIn 2s ease-out;
}

.header-button {
  animation: fadeIn 3s ease-out;
  animation-delay: 1s;
}

/* Custom CSS to hide scrollbar */
.scrollbar-hide {
  /* Hide scrollbar for Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  /* Hide scrollbar for WebKit/Blink browsers */
  &::-webkit-scrollbar {
    display: none;
  }
}

select {
  padding: 10px 40px 10px 12px; /* Top/Right/Bottom/Left */
  width: 200px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;

  /* Remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Add custom icon */
  background-image: url("../assets/landing-page/security.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
}

textarea:focus,
input:focus,
select:focus,
rich-text-editor:focus,
select:active {
  outline: none;
  border-color: #13485b; /* Change to your desired focus color */
  box-shadow: 0 0 0 2px rgba(19, 72, 91, 0.2); /* Optional shadow for focus */
}
