@tailwind base;
  @tailwind components;
  @tailwind utilities;
  

.header-img{
  background-image: url('../assets/images/headerbg.svg');
  background-position: center;
  background-size: cover;
}


.find-connect{
  background-image: url('../assets/images/findAndConnect.svg');
  background-position: center;
  background-size: cover;
}


.metrics{
  background-image: url('../assets/metricsBg.png');
  background-position: center;
  background-size: cover;
}


li{
  margin: 3px 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes backgroundPan {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.header-img {
  animation: backgroundPan 10s linear infinite alternate;
}

.header-content {
  animation: fadeIn 2s ease-out;
}

.header-image {
  animation: slideIn 2s ease-out;
}

.header-button {
  animation: fadeIn 3s ease-out;
  animation-delay: 1s;
}
