@tailwind base;
@tailwind components;
@tailwind utilities;

.header-img {
  background-image: url("../assets/landing-page/headerbg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.find-connect {
  background-image: url("../assets/landing-page/findAndConnect.svg");
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;
}

.metrics {
  background-image: url("../assets/landing-page/metricsBg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  background-image: url("../assets/about-page/about.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.whoweare {
  background-image: url("../assets/about-page/lock.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .find-connect {
    background-size: contain;
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  .about {
    background-image: none;
  }
}

@media screen and (max-width: 768px) {
  .whoweare {
    background-size: cover;
    background-position: cover;
  }
}

li {
  margin: 3px 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes backgroundPan {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.header-img {
  animation: backgroundPan 10s linear infinite alternate;
}

.header-content {
  animation: fadeIn 2s ease-out;
}

.header-image {
  animation: slideIn 2s ease-out;
}

.header-button {
  animation: fadeIn 3s ease-out;
  animation-delay: 1s;
}

/* Custom CSS to hide scrollbar */
.scrollbar-hide {
  /* Hide scrollbar for Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  /* Hide scrollbar for WebKit/Blink browsers */
  &::-webkit-scrollbar {
    display: none;
  }
}
